<!-- user-auth/register/register.component.html -->
<!-- <div class="registration-form">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" name="role" [(ngModel)]="user.role" required >
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button type="submit">Register</button>
    </form>
  </div> -->

  <div class="registration-form">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="name">
        <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched" class="error-message">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" formControlName="username">
        <div *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched" class="error-message">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="error-message">
          Password is required.
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" name="role" formControlName="role">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
        <div *ngIf="registerForm.get('role')?.hasError('required') && registerForm.get('role')?.touched" class="error-message">
          Please select one role.
        </div>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
