<!-- <p>employees works!</p>
<button (click)="AddEmployee()">Add-Employee</button> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array of Objects Table</title>
</head>

<body>
    <h2>Employee Details</h2>
    <div class="button-container">
        <button class="add-user-btn"><a routerLink="/employees/addemployee">Add-Employee</a></button>
        <router-outlet></router-outlet>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>EmpoyeeName</th>
                <th>City</th>
                <th>FileName</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let item of employee">
                <td>{{item.id}}</td>
                <td>{{item.personName}}</td>
                <td>{{item.city}}</td>
                <td>{{item.fileName}}</td>
                <td><button class="btn btn-primary m-2" (click) = "editEmployee(item.id)">Edit</button>
                    <button class="btn btn-primary m-2" (click) = "deleteEmployee(item.id)">Delete</button></td>
            </tr>
        </table>
    </div>
</body>
</html>




  