<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <ul>
        <li><a routerLink="" class="active">Home</a></li>
        <li><a routerLink="users/user">User</a></li>
        <li><a routerLink="employees/employee">Employee</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="auth/register">Register</a></li>
        <li><a routerLink="products/productdetails">Products</a></li>
        <ng-container *ngIf="IsLoggedIn; else loginBlock">
            <li><a (click)="UserLogout()">Logout</a></li>
          </ng-container>
          <ng-template #loginBlock>
            <li><a routerLink="auth/login">Login</a></li>
          </ng-template>
    </ul>
    <router-outlet></router-outlet>
</body>
</html>
