<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
    <form [formGroup]="employeeEditForm"  enctype="multipart/form-data" (ngSubmit)="onSubmit()">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="PersonName" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" formControlName="City" required>

        <label for="file">Upload File:</label>
        <input type="file" id="file" name="file" formControlName="UploadedFile" (change)="onFileSelected($event)">
        
        <img *ngIf="filePreview" [src]="filePreview" alt="File Preview" class="file-preview" />

        <!-- <img [attr.src]="'E:\Vivek\Vivek\LoginPractice\LoginPractice\wwwroot\Content\Image\d243bc6c-9c3f-4988-80d2-c8f46b65249c_img3.jfif'" alt="File Preview" class="file-preview" /> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>

  