<!-- <p>user works!</p>
<ul>
    <li>
        
    </li>
    <li>
        <a routerLink="admindetails">AdminDetails</a>
    </li>
</ul>
<router-outlet></router-outlet> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array of Objects Table</title>
</head>

<body>
    <h2>User Details</h2>
    <div class="button-container">
        <button class="add-user-btn"><a routerLink="userdetails">UserDetails</a></button>
        <router-outlet></router-outlet>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let item of userData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.city}}</td>
                <td>{{item.country}}</td>
                <td><button class="btn btn-primary m-2" [routerLink]="['/users/edituser', item.id]">Edit</button><button class="btn btn-primary m-2" (click)= "UserDelete(item.id)">Delete</button></td>
            </tr>
        </table>
    </div>
</body>

</html>